<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nuk3m1.ocgtradingsystem.mapper.UserFavoriteMapper">

    <resultMap id="BaseResultMap" type="com.nuk3m1.ocgtradingsystem.model.entity.UserFavorite">
            <id property="userId" column="user_id" />
            <id property="cardId" column="card_id" />
    </resultMap>

    <sql id="Base_Column_List">
        user_id,card_id
    </sql>
</mapper>
